<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/trendingHead')%>
      </head>
<body id="sBase">

    <header>
      <%- include('../partials/header')%>
    </header>
  
    <main>
      <div class="row">
        <div class="col-sm-4">
          <div class="jumbotron">
            <!-- Page to display a single profile. The "user" object is passed through from express -->
            <!-- get the first name -->

            <!-- get the username -->
            <h1>Persoanl Details</h1>
            
            <!-- get the medium picture -->
            <img src="<%= user.picture.medium %>" class="img-circle" />
            <br>
            <h2>  Username: <br> <p><%= user.login.username %> </p></h2> 
             <!-- get the Email -->
            <h2>  Email:    <br> <p><%= user.email %></p></h2>
             <!-- get the dob -->
            <h2>  Date Of Birth: <br><p> <%= user.dob %></p> </h2>
            <!-- get the gender-->
            <h2>  Gender:   <br> <p><%= user.gender %></p> </h2>
           <!-- get the registration date-->
           <h2> Registered on:<br> <p> <%= user.registered %></p></h2>
         
           <h2> <p> Home Address: <br>  <%= user.location.street %> <br> <%= user.location.city%> <br> <%= user.location.state %> <br> <%= user.location.postcode %> </p> </h2>
             


            </ul>
          </div>
        </div>










        <div class="col-sm-8">
  



          <div class="well">
            <h1>Hi <%= user.name.first %></h1>
 
         

           <h1>Find your Closes Cinema</h1>
            <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1-FB665Kx5T8zGb378pZuHcvazxgRfl0&ehbc=2E312F" width="900" height="550"></iframe>
          </div>






















          
        </div>
      </div>
    </main>
  
    
  
  </body>
</html>