<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/trendingHead')%>
      </head>
<body class="sBase">

    <header>
      <%- include('../partials/header')%>
    </header>
  
    <main>
      <div class="row">
        <div class="col-sm-8">
          <div class="jumbotron">
            <!-- Page to display a single profile. The "user" object is passed through from express -->
            <!-- get the first name -->
            <h1>Hi <%= user.name.first %></h1>
            <!-- get the medium picture -->
            <img src="<%= user.picture.medium %>" class="img-circle" />
            <!-- get the username -->
            <h2>Persoanl Details</h2>
            <p>username: <br> <%= user.login.username %></p>
            <p>password: <br> <%= user.login.password %></p>
            <p>
              <!-- get the gender-->
              Gender: <br> <%= user.gender %>
            </p>
            <p>
              <!-- get the dob -->
              Date Of Birth: <br> <%= user.dob %>
            </p>
            <p>
              <!-- get the registration date-->
              Date Of Registration:<br> <%= user.registered %>
            </p>

            <ul>
              <!-- get the componemts of the address-->
              <li class="list-group-item">
             <p> Street: <br>  <%= user.location.street %>
             </p>
              </li>
              <li class="list-group-item">
               <p> City: <br> <%= user.location.city%>
               </p>
              </li>
              <li class="list-group-item">
              <p> State: <br> <%= user.location.state %>
              </p>
              </li>
              <li class="list-group-item">
               <p> PostCode: <br> <%= user.location.postcode %>
               </p>
              </li>
            </ul>







          </div>
        </div>
  
        <div class="col-sm-4">
          <div class="well">
            <h3>Details</h3>
            <img src="<%= user.picture.medium %>" class="img-circle" />
            <h3>Address</h3>
            <ul>
              <!-- get the componemts of the address-->
              <li class="list-group-item">
                <%= user.location.street %>
              </li>
              <li class="list-group-item">
                <%= user.location.city%>
              </li>
              <li class="list-group-item">
                <%= user.location.state %>
              </li>
              <li class="list-group-item">
                <%= user.location.postcode %>
              </li>
            </ul>
          </div>
        </div>
  
      </div>
    </main>
  
    
  
  </body>
</html>